<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>17A365</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>idf</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>iCE Draw File (.idf)</string>
			<key>CFBundleTypeRole</key>
			<string>QLGenerator</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.ansilove.idf</string>
				<string>org.blocktronics.idf</string>
				<string>com.byteproject.ascension.idf</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>tnd</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Tundra Draw Document</string>
			<key>CFBundleTypeRole</key>
			<string>QLGenerator</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.ansilove.tnd</string>
				<string>org.blocktronics.tnd</string>
				<string>com.byteproject.ascension.tnd</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>xb</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>eXtended Binary Art Document</string>
			<key>CFBundleTypeRole</key>
			<string>QLGenerator</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.ansilove.xb</string>
				<string>org.blocktronics.xb</string>
				<string>com.byteproject.ascension.xb</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>ice</string>
				<string>cia</string>
				<string>ans</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>ANSi Art Document</string>
			<key>CFBundleTypeRole</key>
			<string>QLGenerator</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.ansilove.ans</string>
				<string>org.blocktronics.ans</string>
				<string>com.byteproject.ascension.ans</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>asc</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>ASCii Art Document</string>
			<key>CFBundleTypeRole</key>
			<string>QLGenerator</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.ansilove.asc</string>
				<string>org.blocktronics.asc</string>
				<string>com.byteproject.ascension.asc</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>diz</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Art Pack Description Document</string>
			<key>CFBundleTypeRole</key>
			<string>QLGenerator</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.ansilove.diz</string>
				<string>org.blocktronics.diz</string>
				<string>com.byteproject.ascension.diz</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>nfo</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Release Information Document</string>
			<key>CFBundleTypeRole</key>
			<string>QLGenerator</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.ansilove.nfo</string>
				<string>org.blocktronics.nfo</string>
				<string>com.byteproject.ascension.nfo</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Undeclared UTIs for AnsiLove</string>
			<key>CFBundleTypeRole</key>
			<string>QLGenerator</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.blocktronics.quicklook</string>
				<string>dyn.ah62d4rv4ge80k4p4</string>
				<string>dyn.ah62d4rv4ge80c5xx</string>
				<string>dyn.ah62d4rv4ge81u2u</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>QLAnsilove</string>
	<key>CFBundleIdentifier</key>
	<string>org.ansilove.QLAnsilove</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>QLAnsilove</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>CFPlugInDynamicRegisterFunction</key>
	<string></string>
	<key>CFPlugInDynamicRegistration</key>
	<string>NO</string>
	<key>CFPlugInFactories</key>
	<dict>
		<key>C21AAD3D-D7CE-4D9B-9537-FB4F492C03DD</key>
		<string>QuickLookGeneratorPluginFactory</string>
	</dict>
	<key>CFPlugInTypes</key>
	<dict>
		<key>5E2D9680-5022-40FA-B806-43349622E5B9</key>
		<array>
			<string>C21AAD3D-D7CE-4D9B-9537-FB4F492C03DD</string>
		</array>
	</dict>
	<key>CFPlugInUnloadFunction</key>
	<string></string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>9A235</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>17A360</string>
	<key>DTSDKName</key>
	<string>macosx10.13</string>
	<key>DTXcode</key>
	<string>0900</string>
	<key>DTXcodeBuild</key>
	<string>9A235</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2017 Christian R. Vozar. All rights reserved.</string>
	<key>QLNeedsToBeRunInMainThread</key>
	<false/>
	<key>QLPreviewHeight</key>
	<real>600</real>
	<key>QLPreviewWidth</key>
	<real>800</real>
	<key>QLSupportsConcurrentRequests</key>
	<false/>
	<key>QLThumbnailMinimumSize</key>
	<real>17</real>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>iCE Draw Document</string>
			<key>UTTypeIdentifier</key>
			<string>org.ansilove.idf</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>idf</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>PCBoard BBS Document</string>
			<key>UTTypeIdentifier</key>
			<string>org.ansilove.pcb</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>pcb</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Tundra Draw Document</string>
			<key>UTTypeIdentifier</key>
			<string>org.ansilove.tnd</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>tnd</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>eXtended Binary Document</string>
			<key>UTTypeIdentifier</key>
			<string>org.ansilove.xb</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>xb</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Release Information Document</string>
			<key>UTTypeIdentifier</key>
			<string>org.ansilove.nfo</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>nfo</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Member Description Document</string>
			<key>UTTypeIdentifier</key>
			<string>org.ansilove.mem</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>mem</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Art Pack Description Document</string>
			<key>UTTypeIdentifier</key>
			<string>org.ansilove.diz</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>diz</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>ASCii Art Document</string>
			<key>UTTypeIdentifier</key>
			<string>org.ansilove.asc</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.firename-extension</key>
				<array>
					<string>asc</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>ANSi Art Document</string>
			<key>UTTypeIdentifier</key>
			<string>org.ansilove.ans</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>TEXT</string>
				<key>public.filename-extension</key>
				<array>
					<string>ice</string>
					<string>cia</string>
					<string>ans</string>
					<string>diz</string>
					<string>nfo</string>
				</array>
			</dict>
		</dict>
	</array>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.item</string>
			</array>
			<key>UTTypeDescription</key>
			<string>ANSi Document</string>
			<key>UTTypeIdentifier</key>
			<string>org.blocktronics.quicklook</string>
			<key>UTTypeReferenceURL</key>
			<string>http://blocktronics.org</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>ans</string>
					<string>diz</string>
					<string>asc</string>
					<string>xb</string>
					<string>nfo</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
