<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>nbsp</key><string>&#160;</string> 
        <key>iexcl</key><string>&#161;</string> 
        <key>cent</key><string>&#162;</string> 
        <key>pound</key><string>&#163;</string> 
        <key>curren</key><string>&#164;</string> 
        <key>yen</key><string>&#165;</string> 
        <key>brvbar</key><string>&#166;</string> 
        <key>sect</key><string>&#167;</string> 
        <key>uml</key><string>&#168;</string> 
        <key>copy</key><string>&#169;</string> 
        <key>ordf</key><string>&#170;</string> 
        <key>laquo</key><string>&#171;</string> 
        <key>not</key><string>&#172;</string> 
        <key>shy</key><string>&#173;</string> 
        <key>reg</key><string>&#174;</string> 
        <key>macr</key><string>&#175;</string> 
        <key>deg</key><string>&#176;</string> 
        <key>plusmn</key><string>&#177;</string> 
        <key>sup2</key><string>&#178;</string> 
        <key>sup3</key><string>&#179;</string> 
        <key>acute</key><string>&#180;</string> 
        <key>micro</key><string>&#181;</string> 
        <key>para</key><string>&#182;</string> 
        <key>middot</key><string>&#183;</string> 
        <key>cedil</key><string>&#184;</string> 
        <key>sup1</key><string>&#185;</string> 
        <key>ordm</key><string>&#186;</string> 
        <key>raquo</key><string>&#187;</string> 
        <key>frac14</key><string>&#188;</string> 
        <key>frac12</key><string>&#189;</string> 
        <key>frac34</key><string>&#190;</string> 
        <key>iquest</key><string>&#191;</string> 
        <key>Agrave</key><string>&#192;</string> 
        <key>Aacute</key><string>&#193;</string> 
        <key>Acirc</key><string>&#194;</string> 
        <key>Atilde</key><string>&#195;</string> 
        <key>Auml</key><string>&#196;</string> 
        <key>Aring</key><string>&#197;</string> 
        <key>AElig</key><string>&#198;</string> 
        <key>Ccedil</key><string>&#199;</string> 
        <key>Egrave</key><string>&#200;</string> 
        <key>Eacute</key><string>&#201;</string> 
        <key>Ecirc</key><string>&#202;</string> 
        <key>Euml</key><string>&#203;</string> 
        <key>Igrave</key><string>&#204;</string> 
        <key>Iacute</key><string>&#205;</string> 
        <key>Icirc</key><string>&#206;</string> 
        <key>Iuml</key><string>&#207;</string> 
        <key>ETH</key><string>&#208;</string> 
        <key>Ntilde</key><string>&#209;</string> 
        <key>Ograve</key><string>&#210;</string> 
        <key>Oacute</key><string>&#211;</string> 
        <key>Ocirc</key><string>&#212;</string> 
        <key>Otilde</key><string>&#213;</string> 
        <key>Ouml</key><string>&#214;</string> 
        <key>times</key><string>&#215;</string> 
        <key>Oslash</key><string>&#216;</string> 
        <key>Ugrave</key><string>&#217;</string> 
        <key>Uacute</key><string>&#218;</string> 
        <key>Ucirc</key><string>&#219;</string> 
        <key>Uuml</key><string>&#220;</string> 
        <key>Yacute</key><string>&#221;</string> 
        <key>THORN</key><string>&#222;</string> 
        <key>szlig</key><string>&#223;</string> 
        <key>agrave</key><string>&#224;</string> 
        <key>aacute</key><string>&#225;</string> 
        <key>acirc</key><string>&#226;</string> 
        <key>atilde</key><string>&#227;</string> 
        <key>auml</key><string>&#228;</string> 
        <key>aring</key><string>&#229;</string> 
        <key>aelig</key><string>&#230;</string> 
        <key>ccedil</key><string>&#231;</string> 
        <key>egrave</key><string>&#232;</string> 
        <key>eacute</key><string>&#233;</string> 
        <key>ecirc</key><string>&#234;</string> 
        <key>euml</key><string>&#235;</string> 
        <key>igrave</key><string>&#236;</string> 
        <key>iacute</key><string>&#237;</string> 
        <key>icirc</key><string>&#238;</string> 
        <key>iuml</key><string>&#239;</string> 
        <key>eth</key><string>&#240;</string> 
        <key>ntilde</key><string>&#241;</string> 
        <key>ograve</key><string>&#242;</string> 
        <key>oacute</key><string>&#243;</string> 
        <key>ocirc</key><string>&#244;</string> 
        <key>otilde</key><string>&#245;</string> 
        <key>ouml</key><string>&#246;</string> 
        <key>divide</key><string>&#247;</string>
        <key>oslash</key><string>&#248;</string> 
        <key>ugrave</key><string>&#249;</string> 
        <key>uacute</key><string>&#250;</string> 
        <key>ucirc</key><string>&#251;</string> 
        <key>uuml</key><string>&#252;</string> 
        <key>yacute</key><string>&#253;</string> 
        <key>thorn</key><string>&#254;</string>     
        <key>yuml</key><string>&#255;</string> 
        <key>bdquo</key><string>&#x0201E;</string>
        <key>circ</key><string>&#x002C6;</string>
        <key>dagger</key><string>&#x02020;</string>
        <key>Dagger</key><string>&#x02021;</string>
        <key>emsp</key><string>&#x02003;</string>
        <key>ensp</key><string>&#x02002;</string>
        <key>euro</key><string>&#x020AC;</string>
        <key>gt</key><string>&#x0003E;</string>
        <key>ldquo</key><string>&#x0201C;</string>
        <key>lrm</key><string>&#x0200E;</string>
        <key>lsaquo</key><string>&#x02039;</string>
        <key>lsquo</key><string>&#x02018;</string>
        <key>lt</key><string>&#38;#60;</string>
        <key>mdash</key><string>&#x02014;</string>
        <key>ndash</key><string>&#x02013;</string>
        <key>oelig</key><string>&#x00153;</string>
        <key>OElig</key><string>&#x00152;</string>
        <key>permil</key><string>&#x02030;</string>
        <key>quot</key><string>&#x00022;</string>
        <key>rdquo</key><string>&#x0201D;</string>
        <key>rlm</key><string>&#x0200F;</string>
        <key>rsaquo</key><string>&#x0203A;</string>
        <key>rsquo</key><string>&#x02019;</string>
        <key>sbquo</key><string>&#x0201A;</string>
        <key>scaron</key><string>&#x00161;</string>
        <key>Scaron</key><string>&#x00160;</string>
        <key>thinsp</key><string>&#x02009;</string>
        <key>tilde</key><string>&#x002DC;</string>
        <key>Yuml</key><string>&#x00178;</string>
        <key>zwj</key><string>&#x0200D;</string>
        <key>zwnj</key><string>&#x0200C;</string>
        <key>alefsym</key><string>&#x02135;</string>
        <key>alpha</key><string>&#x003B1;</string>
        <key>Alpha</key><string>&#x00391;</string>
        <key>and</key><string>&#x02227;</string>
        <key>ang</key><string>&#x02220;</string>
        <key>asymp</key><string>&#x02248;</string>
        <key>beta</key><string>&#x003B2;</string>
        <key>Beta</key><string>&#x00392;</string>
        <key>bull</key><string>&#x02022;</string>
        <key>cap</key><string>&#x02229;</string>
        <key>chi</key><string>&#x003C7;</string>
        <key>Chi</key><string>&#x003A7;</string>
        <key>clubs</key><string>&#x02663;</string>
        <key>cong</key><string>&#x02245;</string>
        <key>crarr</key><string>&#x021B5;</string>
        <key>cup</key><string>&#x0222A;</string>
        <key>darr</key><string>&#x02193;</string>
        <key>dArr</key><string>&#x021D3;</string>
        <key>delta</key><string>&#x003B4;</string>
        <key>Delta</key><string>&#x00394;</string>
        <key>diams</key><string>&#x02666;</string>
        <key>empty</key><string>&#x02205;</string>
        <key>epsilon</key><string>&#x003B5;</string>
        <key>Epsilon</key><string>&#x00395;</string>
        <key>equiv</key><string>&#x02261;</string>
        <key>eta</key><string>&#x003B7;</string>
        <key>Eta</key><string>&#x00397;</string>
        <key>exist</key><string>&#x02203;</string>
        <key>fnof</key><string>&#x00192;</string>
        <key>forall</key><string>&#x02200;</string>
        <key>frasl</key><string>&#x02044;</string>
        <key>gamma</key><string>&#x003B3;</string>
        <key>Gamma</key><string>&#x00393;</string>
        <key>ge</key><string>&#x02265;</string>
        <key>harr</key><string>&#x02194;</string>
        <key>hArr</key><string>&#x021D4;</string>
        <key>hearts</key><string>&#x02665;</string>
        <key>hellip</key><string>&#x02026;</string>
        <key>image</key><string>&#x02111;</string>
        <key>infin</key><string>&#x0221E;</string>
        <key>int</key><string>&#x0222B;</string>
        <key>iota</key><string>&#x003B9;</string>
        <key>Iota</key><string>&#x00399;</string>
        <key>isin</key><string>&#x02208;</string>
        <key>kappa</key><string>&#x003BA;</string>
        <key>Kappa</key><string>&#x0039A;</string>
        <key>lambda</key><string>&#x003BB;</string>
        <key>Lambda</key><string>&#x0039B;</string>
        <key>lang</key><string>&#x027E8;</string>
        <key>larr</key><string>&#x02190;</string>
        <key>lArr</key><string>&#x021D0;</string>
        <key>lceil</key><string>&#x02308;</string>
        <key>le</key><string>&#x02264;</string>
        <key>lfloor</key><string>&#x0230A;</string>
        <key>lowast</key><string>&#x02217;</string>
        <key>loz</key><string>&#x025CA;</string>
        <key>minus</key><string>&#x02212;</string>
        <key>mu</key><string>&#x003BC;</string>
        <key>Mu</key><string>&#x0039C;</string>
        <key>nabla</key><string>&#x02207;</string>
        <key>ne</key><string>&#x02260;</string>
        <key>ni</key><string>&#x0220B;</string>
        <key>notin</key><string>&#x02209;</string>
        <key>nsub</key><string>&#x02284;</string>
        <key>nu</key><string>&#x003BD;</string>
        <key>Nu</key><string>&#x0039D;</string>
        <key>oline</key><string>&#x0203E;</string>
        <key>omega</key><string>&#x003C9;</string>
        <key>Omega</key><string>&#x003A9;</string>
        <key>omicron</key><string>&#x003BF;</string>
        <key>Omicron</key><string>&#x0039F;</string>
        <key>oplus</key><string>&#x02295;</string>
        <key>or</key><string>&#x02228;</string>
        <key>otimes</key><string>&#x02297;</string>
        <key>part</key><string>&#x02202;</string>
        <key>perp</key><string>&#x022A5;</string>
        <key>phi</key><string>&#x003C6;</string>
        <key>Phi</key><string>&#x003A6;</string>
        <key>pi</key><string>&#x003C0;</string>
        <key>Pi</key><string>&#x003A0;</string>
        <key>piv</key><string>&#x003D6;</string>
        <key>prime</key><string>&#x02032;</string>
        <key>Prime</key><string>&#x02033;</string>
        <key>prod</key><string>&#x0220F;</string>
        <key>prop</key><string>&#x0221D;</string>
        <key>psi</key><string>&#x003C8;</string>
        <key>Psi</key><string>&#x003A8;</string>
        <key>radic</key><string>&#x0221A;</string>
        <key>rang</key><string>&#x027E9;</string>
        <key>rarr</key><string>&#x02192;</string>
        <key>rArr</key><string>&#x021D2;</string>
        <key>rceil</key><string>&#x02309;</string>
        <key>real</key><string>&#x0211C;</string>
        <key>rfloor</key><string>&#x0230B;</string>
        <key>rho</key><string>&#x003C1;</string>
        <key>Rho</key><string>&#x003A1;</string>
        <key>sdot</key><string>&#x022C5;</string>
        <key>sigma</key><string>&#x003C3;</string>
        <key>Sigma</key><string>&#x003A3;</string>
        <key>sigmaf</key><string>&#x003C2;</string>
        <key>sim</key><string>&#x0223C;</string>
        <key>spades</key><string>&#x02660;</string>
        <key>sub</key><string>&#x02282;</string>
        <key>sube</key><string>&#x02286;</string>
        <key>sum</key><string>&#x02211;</string>
        <key>sup</key><string>&#x02283;</string>
        <key>supe</key><string>&#x02287;</string>
        <key>tau</key><string>&#x003C4;</string>
        <key>Tau</key><string>&#x003A4;</string>
        <key>there4</key><string>&#x02234;</string>
        <key>theta</key><string>&#x003B8;</string>
        <key>Theta</key><string>&#x00398;</string>
        <key>thetasym</key><string>&#x003D1;</string>
        <key>trade</key><string>&#x02122;</string>
        <key>uarr</key><string>&#x02191;</string>
        <key>uArr</key><string>&#x021D1;</string>
        <key>upsih</key><string>&#x003D2;</string>
        <key>upsilon</key><string>&#x003C5;</string>
        <key>Upsilon</key><string>&#x003A5;</string>
        <key>weierp</key><string>&#x02118;</string>
        <key>xi</key><string>&#x003BE;</string>
        <key>Xi</key><string>&#x0039E;</string>
        <key>zeta</key><string>&#x003B6;</string>
        <key>Zeta</key><string>&#x00396;</string>
    </dict>
</plist>
