<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>QLGenerator</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.pbm</string>
				<string>org.ppm</string>
				<string>org.pfm</string>
				<string>org.pgm</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>Quicklook-PFM</string>
	<key>CFBundleIdentifier</key>
	<string>org.pfm.quicklook</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Quicklook-PFM</string>
	<key>CFBundleShortVersionString</key>
	<string>1</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>CFPlugInDynamicRegisterFunction</key>
	<string></string>
	<key>CFPlugInDynamicRegistration</key>
	<false/>
	<key>CFPlugInFactories</key>
	<dict>
		<key>C00EB589-55DF-45ED-B4B8-8AFFA367CFCF</key>
		<string>QuickLookGeneratorPluginFactory</string>
	</dict>
	<key>CFPlugInTypes</key>
	<dict>
		<key>5E2D9680-5022-40FA-B806-43349622E5B9</key>
		<array>
			<string>C00EB589-55DF-45ED-B4B8-8AFFA367CFCF</string>
		</array>
	</dict>
	<key>CFPlugInUnloadFunction</key>
	<string></string>
	<key>QLNeedsToBeRunInMainThread</key>
	<true/>
	<key>QLPreviewHeight</key>
	<real>600</real>
	<key>QLPreviewWidth</key>
	<real>800</real>
	<key>QLSupportsConcurrentRequests</key>
	<false/>
	<key>QLThumbnailMinimumSize</key>
	<integer>32</integer>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.image</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Portable Bitmap Map</string>
			<key>UTTypeIdentifier</key>
			<string>org.pbm</string>
			<key>UTTypeReferenceURL</key>
			<string>http://local.wasp.uwa.edu.au/pbourke/dataformats/ppm/</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>pbm</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.image</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Portable Pixmap Map</string>
			<key>UTTypeIdentifier</key>
			<string>org.ppm</string>
			<key>UTTypeReferenceURL</key>
			<string>http://local.wasp.uwa.edu.au/pbourke/dataformats/ppm/</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>ppm</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.image</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Portable Float Map</string>
			<key>UTTypeIdentifier</key>
			<string>org.pfm</string>
			<key>UTTypeReferenceURL</key>
			<string>http://local.wasp.uwa.edu.au/pbourke/dataformats/ppm/</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>pfm</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.image</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Portable Grayscale Map</string>
			<key>UTTypeIdentifier</key>
			<string>org.pgm</string>
			<key>UTTypeReferenceURL</key>
			<string>http://local.wasp.uwa.edu.au/pbourke/dataformats/ppm/</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>pgm</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
