<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>14C109</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>QLGenerator</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.zip-archive</string>
				<string>com.macitbetter.zip-archive</string>
				<string>com.sun.java-archive</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>QLGenerator</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.tar-archive</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>QLGenerator</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.gnu.gnu-zip-archive</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>QLGenerator</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.gnu.gnu-zip-tar-archive</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>QLGenerator</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.archive.bzip2</string>
				<string>public.bzip2-archive</string>
				<string>org.bzip.bzip2-archive</string>
				<string>org.bzip.bzip2-tar-archive</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>QLGenerator</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.stuffit.archive.sit</string>
				<string>com.allume.stuffit-archive</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>QLGenerator</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.rarlab.rar-archive</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>QLGenerator</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.7-zip.7-zip-archive</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>QLGenerator</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.cpio-archive</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>QLGenerator</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.bom-compressed-cpio</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>QLGenerator</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.archive.arj</string>
				<string>org.7-zip.arj-archive</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>QLGenerator</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.archive.lha</string>
				<string>org.7-zip.lha-archive</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>QLGenerator</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.archive.cab</string>
				<string>com.microsoft.cab-archive</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>QLGenerator</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.microsoft.chm-archive</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>QLGenerator</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.iso-image</string>
				<string>public.iso-diskimage</string>
				<string>public.disk-image</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>QLGenerator</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.debian.deb-archive</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>QLGenerator</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.redhat.rpm-archive</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>QLGenerator</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.7-zip.nsis-archive</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>QLGenerator</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.symantec.diskdoubler-archive</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>QLGenerator</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.binhex-archive</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>QLGenerator</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.macbinary-archive</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>QLGenerator</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.macitbetter.cbz-archive</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>QLGenerator</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.macitbetter.zip-archive</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>QLGenerator</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.macitbetter.segmented-archive</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>QLGenerator</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.xar-archive</string>
				<string>public.xar-archive</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>BetterZipQL</string>
	<key>CFBundleIdentifier</key>
	<string>com.macitbetter.betterzip.quicklookgenerator</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>BetterZipQL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.6</string>
	<key>CFBundleVersion</key>
	<string>1.6</string>
	<key>CFPlugInDynamicRegisterFunction</key>
	<string></string>
	<key>CFPlugInDynamicRegistration</key>
	<string>NO</string>
	<key>CFPlugInFactories</key>
	<dict>
		<key>D01B87A0-1BD3-47A0-B205-FB6EDBDB9445</key>
		<string>QuickLookGeneratorPluginFactory</string>
	</dict>
	<key>CFPlugInTypes</key>
	<dict>
		<key>5E2D9680-5022-40FA-B806-43349622E5B9</key>
		<array>
			<string>D01B87A0-1BD3-47A0-B205-FB6EDBDB9445</string>
		</array>
	</dict>
	<key>CFPlugInUnloadFunction</key>
	<string></string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>6A2008a</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>14A382</string>
	<key>DTSDKName</key>
	<string>macosx10.10</string>
	<key>DTXcode</key>
	<string>0611</string>
	<key>DTXcodeBuild</key>
	<string>6A2008a</string>
	<key>QLNeedsToBeRunInMainThread</key>
	<false/>
	<key>QLPreviewHeight</key>
	<real>600</real>
	<key>QLPreviewWidth</key>
	<real>900</real>
	<key>QLSupportsConcurrentRequests</key>
	<false/>
	<key>QLThumbnailMinimumSize</key>
	<real>17</real>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.archive</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Comicbook Zip Archive</string>
			<key>UTTypeIconFile</key>
			<string>Zip</string>
			<key>UTTypeIdentifier</key>
			<string>com.macitbetter.cbz-archive</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>cbz</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.zip-archive</string>
				<string>com.pkware.zip-archive</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Zip Archive</string>
			<key>UTTypeIconFile</key>
			<string>Zip</string>
			<key>UTTypeIdentifier</key>
			<string>com.macitbetter.zip-archive</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>pk3</string>
					<string>pk4</string>
					<string>nth</string>
					<string>xpi</string>
					<string>swc</string>
					<string>epub</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.archive</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Segmented Archive</string>
			<key>UTTypeIconFile</key>
			<string>Plain</string>
			<key>UTTypeIdentifier</key>
			<string>com.macitbetter.segmented-archive</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>000</string>
					<string>001</string>
					<string>002</string>
					<string>003</string>
					<string>004</string>
					<string>005</string>
					<string>006</string>
					<string>007</string>
					<string>008</string>
					<string>009</string>
					<string>010</string>
					<string>011</string>
					<string>012</string>
					<string>013</string>
					<string>014</string>
					<string>015</string>
					<string>016</string>
					<string>017</string>
					<string>018</string>
					<string>019</string>
					<string>020</string>
					<string>021</string>
					<string>022</string>
					<string>023</string>
					<string>024</string>
					<string>025</string>
					<string>026</string>
					<string>027</string>
					<string>028</string>
					<string>029</string>
					<string>030</string>
					<string>031</string>
					<string>032</string>
					<string>033</string>
					<string>034</string>
					<string>035</string>
					<string>036</string>
					<string>037</string>
					<string>038</string>
					<string>039</string>
					<string>040</string>
					<string>041</string>
					<string>042</string>
					<string>043</string>
					<string>044</string>
					<string>045</string>
					<string>046</string>
					<string>047</string>
					<string>048</string>
					<string>049</string>
					<string>050</string>
					<string>051</string>
					<string>052</string>
					<string>053</string>
					<string>054</string>
					<string>055</string>
					<string>056</string>
					<string>057</string>
					<string>058</string>
					<string>059</string>
					<string>060</string>
					<string>061</string>
					<string>062</string>
					<string>063</string>
					<string>064</string>
					<string>065</string>
					<string>066</string>
					<string>067</string>
					<string>068</string>
					<string>069</string>
					<string>070</string>
					<string>071</string>
					<string>072</string>
					<string>073</string>
					<string>074</string>
					<string>075</string>
					<string>076</string>
					<string>077</string>
					<string>078</string>
					<string>079</string>
					<string>080</string>
					<string>081</string>
					<string>082</string>
					<string>083</string>
					<string>084</string>
					<string>085</string>
					<string>086</string>
					<string>087</string>
					<string>088</string>
					<string>089</string>
					<string>090</string>
					<string>091</string>
					<string>092</string>
					<string>093</string>
					<string>094</string>
					<string>095</string>
					<string>096</string>
					<string>097</string>
					<string>098</string>
					<string>099</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.archive</string>
			</array>
			<key>UTTypeDescription</key>
			<string>ZIP Archive</string>
			<key>UTTypeIconFile</key>
			<string>ZIP</string>
			<key>UTTypeIdentifier</key>
			<string>public.zip-archive</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>zip</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>application/zip</string>
					<string>application/x-zip</string>
					<string>application/x-zip-compressed</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.archive</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Java ZIP Archive</string>
			<key>UTTypeIconFile</key>
			<string>ZIP</string>
			<key>UTTypeIdentifier</key>
			<string>com.sun.java-archive</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>jar</string>
					<string>war</string>
					<string>ear</string>
					<string>par</string>
					<string>wsr</string>
					<string>sar</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.archive</string>
			</array>
			<key>UTTypeDescription</key>
			<string>TAR Archive</string>
			<key>UTTypeIconFile</key>
			<string>Tar</string>
			<key>UTTypeIdentifier</key>
			<string>public.tar-archive</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<array>
					<string>TARF</string>
				</array>
				<key>public.filename-extension</key>
				<array>
					<string>tar</string>
					<string>gtar</string>
					<string>gnutar</string>
					<string>ustar</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>application/tar</string>
					<string>application/x-tar</string>
					<string>application/x-gtar</string>
					<string>application/gnutar</string>
					<string>application/x-ustar</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.archive</string>
			</array>
			<key>UTTypeDescription</key>
			<string>GZip Archive</string>
			<key>UTTypeIconFile</key>
			<string>GZ</string>
			<key>UTTypeIdentifier</key>
			<string>org.gnu.gnu-zip-archive</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>gz</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.archive</string>
			</array>
			<key>UTTypeDescription</key>
			<string>GZipped Tar Archive</string>
			<key>UTTypeIconFile</key>
			<string>GZ</string>
			<key>UTTypeIdentifier</key>
			<string>org.gnu.gnu-zip-tar-archive</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>tgz</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.archive</string>
			</array>
			<key>UTTypeDescription</key>
			<string>BZip2 Archive</string>
			<key>UTTypeIconFile</key>
			<string>BZ2</string>
			<key>UTTypeIdentifier</key>
			<string>org.bzip.bzip2-archive</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>bz2</string>
					<string>bzip2</string>
					<string>bz</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>application/bzip2</string>
					<string>application/bzip</string>
					<string>application/x-bzip2</string>
					<string>application/x-bzip</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.archive</string>
			</array>
			<key>UTTypeDescription</key>
			<string>BZip2 Tar Archive</string>
			<key>UTTypeIconFile</key>
			<string>BZ2</string>
			<key>UTTypeIdentifier</key>
			<string>org.bzip.bzip2-tar-archive</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>tbz</string>
					<string>tbz2</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.archive</string>
			</array>
			<key>UTTypeDescription</key>
			<string>RAR Archive</string>
			<key>UTTypeIconFile</key>
			<string>RAR</string>
			<key>UTTypeIdentifier</key>
			<string>com.rarlab.rar-archive</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>rar</string>
					<string>cbr</string>
					<string>r00</string>
					<string>r01</string>
					<string>r02</string>
					<string>r03</string>
					<string>r04</string>
					<string>r05</string>
					<string>r06</string>
					<string>r07</string>
					<string>r08</string>
					<string>r09</string>
					<string>r10</string>
					<string>r11</string>
					<string>r12</string>
					<string>r13</string>
					<string>r14</string>
					<string>r15</string>
					<string>r16</string>
					<string>r17</string>
					<string>r18</string>
					<string>r19</string>
					<string>r20</string>
					<string>r21</string>
					<string>r22</string>
					<string>r23</string>
					<string>r24</string>
					<string>r25</string>
					<string>r26</string>
					<string>r27</string>
					<string>r28</string>
					<string>r29</string>
					<string>r30</string>
					<string>r31</string>
					<string>r32</string>
					<string>r33</string>
					<string>r34</string>
					<string>r35</string>
					<string>r36</string>
					<string>r37</string>
					<string>r38</string>
					<string>r39</string>
					<string>r40</string>
					<string>r41</string>
					<string>r42</string>
					<string>r43</string>
					<string>r44</string>
					<string>r45</string>
					<string>r46</string>
					<string>r47</string>
					<string>r48</string>
					<string>r49</string>
					<string>r50</string>
					<string>r51</string>
					<string>r52</string>
					<string>r53</string>
					<string>r54</string>
					<string>r55</string>
					<string>r56</string>
					<string>r57</string>
					<string>r58</string>
					<string>r59</string>
					<string>r60</string>
					<string>r61</string>
					<string>r62</string>
					<string>r63</string>
					<string>r64</string>
					<string>r65</string>
					<string>r66</string>
					<string>r67</string>
					<string>r68</string>
					<string>r69</string>
					<string>r70</string>
					<string>r71</string>
					<string>r72</string>
					<string>r73</string>
					<string>r74</string>
					<string>r75</string>
					<string>r76</string>
					<string>r77</string>
					<string>r78</string>
					<string>r79</string>
					<string>r80</string>
					<string>r81</string>
					<string>r82</string>
					<string>r83</string>
					<string>r84</string>
					<string>r85</string>
					<string>r86</string>
					<string>r87</string>
					<string>r88</string>
					<string>r89</string>
					<string>r90</string>
					<string>r91</string>
					<string>r92</string>
					<string>r93</string>
					<string>r94</string>
					<string>r95</string>
					<string>r96</string>
					<string>r97</string>
					<string>r98</string>
					<string>r99</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>application/x-rar</string>
					<string>application/x-rar-compressed</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.archive</string>
			</array>
			<key>UTTypeDescription</key>
			<string>7-Zip Archive</string>
			<key>UTTypeIconFile</key>
			<string>7Z</string>
			<key>UTTypeIdentifier</key>
			<string>org.7-zip.7-zip-archive</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>7z</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>application/x-7z-compressed</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.archive</string>
			</array>
			<key>UTTypeDescription</key>
			<string>CAB Archive</string>
			<key>UTTypeIconFile</key>
			<string>CAB</string>
			<key>UTTypeIdentifier</key>
			<string>com.microsoft.cab-archive</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>cab</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>application/vnd.ms-cab-compressed</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.archive</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Compiled HTML Archive</string>
			<key>UTTypeIconFile</key>
			<string>CHM</string>
			<key>UTTypeIdentifier</key>
			<string>com.microsoft.chm-archive</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>chm</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.archive</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Linux RPM Archive</string>
			<key>UTTypeIconFile</key>
			<string>Plain</string>
			<key>UTTypeIdentifier</key>
			<string>com.redhat.rpm-archive</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<array>
					<string>RPM </string>
				</array>
				<key>public.filename-extension</key>
				<array>
					<string>rpm</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>application/x-rpm</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.archive</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Debian Linux Package</string>
			<key>UTTypeIconFile</key>
			<string>Plain</string>
			<key>UTTypeIdentifier</key>
			<string>org.debian.deb-archive</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>deb</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.archive</string>
			</array>
			<key>UTTypeDescription</key>
			<string>NSIS Archive</string>
			<key>UTTypeIconFile</key>
			<string>Plain</string>
			<key>UTTypeIdentifier</key>
			<string>org.7-zip.nsis-archive</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>nsis</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.archive</string>
			</array>
			<key>UTTypeDescription</key>
			<string>CPIO Archive</string>
			<key>UTTypeIconFile</key>
			<string>CPIO</string>
			<key>UTTypeIdentifier</key>
			<string>public.cpio-archive</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>cpio</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.archive</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Compressed CPIO Archive</string>
			<key>UTTypeIconFile</key>
			<string>CPIO</string>
			<key>UTTypeIdentifier</key>
			<string>com.apple.bom-compressed-cpio</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>cpgz</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.archive</string>
			</array>
			<key>UTTypeDescription</key>
			<string>ISO Disk Image</string>
			<key>UTTypeIconFile</key>
			<string>ISO</string>
			<key>UTTypeIdentifier</key>
			<string>public.iso-diskimage</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>iso</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.archive</string>
			</array>
			<key>UTTypeDescription</key>
			<string>LHA Archive</string>
			<key>UTTypeIconFile</key>
			<string>LHA</string>
			<key>UTTypeIdentifier</key>
			<string>org.7-zip.lha-archive</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>lha</string>
					<string>lzh</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>application/x-lzh-compressed</string>
					<string>application/lha</string>
					<string>application/x-lha</string>
					<string>application/lzh</string>
					<string>application/x-lzh</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.archive</string>
			</array>
			<key>UTTypeDescription</key>
			<string>ARJ Archive</string>
			<key>UTTypeIconFile</key>
			<string>ARJ</string>
			<key>UTTypeIdentifier</key>
			<string>org.7-zip.arj-archive</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>arj</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.archive</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Stuffit Archive</string>
			<key>UTTypeIconFile</key>
			<string>SIT</string>
			<key>UTTypeIdentifier</key>
			<string>com.stuffit.archive.sit</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<array>
					<string>SIT5</string>
				</array>
				<key>public.filename-extension</key>
				<array>
					<string>sit</string>
					<string>sea</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>application/x-stuffit</string>
					<string>application/x-sit</string>
					<string>application/stuffit</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.archive</string>
			</array>
			<key>UTTypeDescription</key>
			<string>DiskDoubler Archive</string>
			<key>UTTypeIconFile</key>
			<string>Plain</string>
			<key>UTTypeIdentifier</key>
			<string>com.symantec.diskdoubler-archive</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<array>
					<string>ddap</string>
				</array>
				<key>public.filename-extension</key>
				<array>
					<string>dd</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.archive</string>
			</array>
			<key>UTTypeDescription</key>
			<string>BinHex Archive</string>
			<key>UTTypeIconFile</key>
			<string>Plain</string>
			<key>UTTypeIdentifier</key>
			<string>com.apple.binhex-archive</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>hqx</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>application/mac-binhex40</string>
					<string>application/mac-binhex</string>
					<string>application/binhex</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.archive</string>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>XAR Archive</string>
			<key>UTTypeIconFile</key>
			<string>archive.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.apple.xar-archive</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>xar</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.archive</string>
			</array>
			<key>UTTypeDescription</key>
			<string>MacBinary Archive</string>
			<key>UTTypeIconFile</key>
			<string>Plain</string>
			<key>UTTypeIdentifier</key>
			<string>com.apple.macbinary-​archive</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<array>
					<string>BINA</string>
				</array>
				<key>public.filename-extension</key>
				<array>
					<string>bin</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>application/x-macbinary</string>
					<string>application/macbinary</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
