<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>14E46</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>QLGenerator</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.quark.xpress.v6</string>
				<string>com.quark.xpress.doc</string>
				<string>com.quark.copydesk.doc</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>QuarkXPress</string>
	<key>CFBundleIdentifier</key>
	<string>com.quark.xpress</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>QuarkXPress</string>
	<key>CFBundleShortVersionString</key>
	<string>5.1</string>
	<key>CFBundleVersion</key>
	<string>5.1</string>
	<key>CFPlugInDynamicRegisterFunction</key>
	<string></string>
	<key>CFPlugInDynamicRegistration</key>
	<string>NO</string>
	<key>CFPlugInFactories</key>
	<dict>
		<key>89DA3634-9F25-4FAA-ABF8-231E95AD96ED</key>
		<string>QuickLookGeneratorPluginFactory</string>
	</dict>
	<key>CFPlugInTypes</key>
	<dict>
		<key>5E2D9680-5022-40FA-B806-43349622E5B9</key>
		<array>
			<string>89DA3634-9F25-4FAA-ABF8-231E95AD96ED</string>
		</array>
	</dict>
	<key>CFPlugInUnloadFunction</key>
	<string></string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>6C131e</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>14A383</string>
	<key>DTSDKName</key>
	<string>macosx10.10</string>
	<key>DTXcode</key>
	<string>0620</string>
	<key>DTXcodeBuild</key>
	<string>6C131e</string>
	<key>QLNeedsToBeRunInMainThread</key>
	<false/>
	<key>QLPreviewHeight</key>
	<integer>500</integer>
	<key>QLPreviewWidth</key>
	<integer>600</integer>
	<key>QLSupportsConcurrentRequests</key>
	<true/>
	<key>QLThumbnailMinimumSize</key>
	<real>17</real>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.content</string>
			</array>
			<key>UTTypeDescription</key>
			<string>QuarkXPress Document</string>
			<key>UTTypeIdentifier</key>
			<string>com.quark.xpress.doc</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<array>
					<string>XDOC</string>
					<string>XTMP</string>
					<string>XWEB</string>
					<string>XWTP</string>
					<string>XPRJ</string>
				</array>
				<key>public.filename-extension</key>
				<array>
					<string>qxd</string>
					<string>qxt</string>
					<string>qwd</string>
					<string>qwt</string>
					<string>qcd</string>
					<string>qct</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.content</string>
			</array>
			<key>UTTypeDescription</key>
			<string>QuarkXPress Projects</string>
			<key>UTTypeIdentifier</key>
			<string>com.quark.xpress.v6</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<array>
					<string>XPRJ</string>
					<string>XPRT</string>
				</array>
				<key>public.filename-extension</key>
				<array>
					<string>qxp</string>
					<string>qct</string>
					<string>qpt</string>
					<string>qcd</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.content</string>
			</array>
			<key>UTTypeIdentifier</key>
			<string>com.quark.copydesk.doc</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<array>
					<string>XPRJ</string>
					<string>XPRT</string>
					<string>SPOC</string>
				</array>
				<key>public.filename-extension</key>
				<array>
					<string>qct</string>
					<string>qcd</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
