<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>14D136</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>QLGenerator</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.mathworks.workspace</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>matlab</string>
	<key>CFBundleIconFile</key>
	<string>Matlab.icns</string>
	<key>CFBundleIdentifier</key>
	<string>org.smrsgroup.matlab.qlgenerator</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.1</string>
	<key>CFBundleName</key>
	<string>matlab</string>
	<key>CFBundleShortVersionString</key>
	<string>6.1</string>
	<key>CFBundleVersion</key>
	<string>4</string>
	<key>CFPlugInDynamicRegisterFunction</key>
	<string></string>
	<key>CFPlugInDynamicRegistration</key>
	<string>NO</string>
	<key>CFPlugInFactories</key>
	<dict>
		<key>5583A43A-1625-47B4-B044-0EB55468E827</key>
		<string>QuickLookGeneratorPluginFactory</string>
	</dict>
	<key>CFPlugInTypes</key>
	<dict>
		<key>5E2D9680-5022-40FA-B806-43349622E5B9</key>
		<array>
			<string>5583A43A-1625-47B4-B044-0EB55468E827</string>
		</array>
	</dict>
	<key>CFPlugInUnloadFunction</key>
	<string></string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>6D2105</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>14D125</string>
	<key>DTSDKName</key>
	<string>macosx10.10</string>
	<key>DTXcode</key>
	<string>0632</string>
	<key>DTXcodeBuild</key>
	<string>6D2105</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2015 Jake TM Pearce. All rights reserved.</string>
	<key>QLNeedsToBeRunInMainThread</key>
	<false/>
	<key>QLPreviewHeight</key>
	<integer>800</integer>
	<key>QLPreviewWidth</key>
	<integer>1000</integer>
	<key>QLSupportsConcurrentRequests</key>
	<false/>
	<key>QLThumbnailMinimumSize</key>
	<real>17</real>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>MATLAB Workspace</string>
			<key>UTTypeIconFile</key>
			<string>mat.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.mathworks.workspace</string>
			<key>UTTypeReferenceURL</key>
			<string>http://www.mathworks.com/</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>MATW</string>
				<key>public.filename-extension</key>
				<array>
					<string>mat</string>
				</array>
				<key>public.mime-type</key>
				<string>application/x-matlab-workspace</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
