<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>14E46</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>fits</string>
				<string>fit</string>
				<string>fts</string>
				<string>ft</string>
				<string>mt</string>
				<string>imfits</string>
				<string>imfit</string>
				<string>uvfits</string>
				<string>uvfit</string>
				<string>pha</string>
				<string>rmf</string>
				<string>arf</string>
				<string>rsp</string>
				<string>pi</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>QLGenerator</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>gov.nasa.gsfc.fits</string>
				<string>gov.nasa.gsfc.fits-header</string>
				<string>com.sao.SAOImageDS9</string>
				<string>dyn.ah62d4rv4ge80q4pysq</string>
				<string>dyn.ah62d4rv4ge80q4py</string>
				<string>dyn.ah62d4rv4ge80q7a</string>
				<string>dyn.ah62d4rv4ge8047a</string>
				<string>dyn.ah62d4rv4ge81a4db</string>
				<string>dyn.ah62d4rv4ge80c6xg</string>
				<string>dyn.ah62d4rv4ge81e5pg</string>
				<string>dyn.ah62d4rv4ge81e65u</string>
				<string>dyn.ah62d4rv4ge81a4k</string>
				<string>dyn.ah62d4rv4ge80w5pgrf4a</string>
				<string>dyn.ah62d4rv4ge81n7xgrf4a</string>
				<string>dyn.ah62d4rv4ge80w5pgrf4hg</string>
				<string>dyn.ah62d4rv4ge81n7xgrf4hg</string>
				<string>dyn.ah62d4rv4ge80262</string>
				<string>dyn.ah62d46dzqm0gw23ssz1gw8brqz6gn25zsvu0e5dfhk2x43xmsu</string>
				<string>dyn.ah62d46dzqm0gw23ssz1gw8brqz6gn25zsvu0e5dfhk2x43xmsv3u</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>QLFits3</string>
	<key>CFBundleIdentifier</key>
	<string>com.onekiloparsec.QLFits3</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>QLFits3</string>
	<key>CFBundleShortVersionString</key>
	<string>3.1.2</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>3.1.2</string>
	<key>CFPlugInDynamicRegisterFunction</key>
	<string></string>
	<key>CFPlugInDynamicRegistration</key>
	<string>NO</string>
	<key>CFPlugInFactories</key>
	<dict>
		<key>0B3C637B-BE64-473E-B055-5D9657DD0CEE</key>
		<string>QuickLookGeneratorPluginFactory</string>
	</dict>
	<key>CFPlugInTypes</key>
	<dict>
		<key>5E2D9680-5022-40FA-B806-43349622E5B9</key>
		<array>
			<string>0B3C637B-BE64-473E-B055-5D9657DD0CEE</string>
		</array>
	</dict>
	<key>CFPlugInUnloadFunction</key>
	<string></string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>6E35b</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>14D125</string>
	<key>DTSDKName</key>
	<string>macosx10.10</string>
	<key>DTXcode</key>
	<string>0640</string>
	<key>DTXcodeBuild</key>
	<string>6E35b</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2015 onekiloparsec. All rights reserved.</string>
	<key>QLNeedsToBeRunInMainThread</key>
	<false/>
	<key>QLPreviewHeight</key>
	<real>600</real>
	<key>QLPreviewWidth</key>
	<real>800</real>
	<key>QLSupportsConcurrentRequests</key>
	<false/>
	<key>QLThumbnailMinimumSize</key>
	<real>17</real>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.image</string>
				<string>public.data</string>
				<string>public.item</string>
				<string>public.composite-content</string>
				<string>public.archive</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Flexible Image Transport System file</string>
			<key>UTTypeIdentifier</key>
			<string>gov.nasa.gsfc.fits</string>
			<key>UTTypeReferenceURL</key>
			<string>http://fits.gsfc.nasa.gov</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>fits</string>
					<string>fit</string>
					<string>fts</string>
					<string>ft</string>
					<string>mt</string>
					<string>imfits</string>
					<string>imfit</string>
					<string>uvfits</string>
					<string>uvfit</string>
					<string>pha</string>
					<string>rmf</string>
					<string>arf</string>
					<string>rsp</string>
					<string>pi</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
