<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>11G63</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>QLGenerator</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.ea.iff-ilbm</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>iff</string>
	<key>CFBundleIdentifier</key>
	<string>tlu.iff</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>iff</string>
	<key>CFBundleShortVersionString</key>
	<string>1β</string>
	<key>CFBundleVersion</key>
	<string>1.0 Beta</string>
	<key>CFPlugInDynamicRegisterFunction</key>
	<string></string>
	<key>CFPlugInDynamicRegistration</key>
	<string>NO</string>
	<key>CFPlugInFactories</key>
	<dict>
		<key>B3A65A51-E272-4667-A260-C59FC5D5DBBB</key>
		<string>QuickLookGeneratorPluginFactory</string>
	</dict>
	<key>CFPlugInTypes</key>
	<dict>
		<key>5E2D9680-5022-40FA-B806-43349622E5B9</key>
		<array>
			<string>B3A65A51-E272-4667-A260-C59FC5D5DBBB</string>
		</array>
	</dict>
	<key>CFPlugInUnloadFunction</key>
	<string></string>
	<key>DTCompiler</key>
	<string></string>
	<key>DTPlatformBuild</key>
	<string>4F1003</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>12A264</string>
	<key>DTSDKName</key>
	<string>macosx10.8</string>
	<key>DTXcode</key>
	<string>0441</string>
	<key>DTXcodeBuild</key>
	<string>4F1003</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2013 Tulou. All rights reserved.</string>
	<key>QLNeedsToBeRunInMainThread</key>
	<false/>
	<key>QLPreviewHeight</key>
	<integer>512</integer>
	<key>QLPreviewWidth</key>
	<integer>640</integer>
	<key>QLSupportsConcurrentRequests</key>
	<false/>
	<key>QLThumbnailMinimumSize</key>
	<real>17</real>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.image</string>
			</array>
			<key>UTTypeDescription</key>
			<string>IFF ILBM</string>
			<key>UTTypeIdentifier</key>
			<string>com.ea.iff-ilbm</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>iff</string>
					<string>ilbm</string>
					<string>lbm</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>application/x-iff</string>
					<string>image/ilbm</string>
					<string>image/x-ilbm</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
